nav {
    .expansion-list-container {
        .expac-list-item {
            @apply border-r-0 bg-[rgba(0,0,0,0.3)] hover:bg-[rgba(0,0,0,0.1)] cursor-pointer dark:border-slate-500;
            &.selected-expansion {
                @apply bg-blue-200/25;
            }
        }

        .expac-list-item:first-of-type {
            @apply rounded-l-md;
        }
        
        .expac-list-item:last-of-type {
            @apply border-r rounded-r-md;
        }
    }
}

html, body, .map-main-window {
    @apply bg-white dark:bg-slate-700;
}


dialog {
    @apply p-4 rounded-lg border-2 border-black bg-white dark:bg-slate-700 text-black dark:text-slate-300;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
}

footer {
    @apply bg-slate-800 text-slate-200 p-4;
    a {
        @apply underline;
    }
}
textarea {
    @apply bg-white dark:bg-slate-500 text-black font-mono;
}
button:disabled {
    @apply cursor-not-allowed;
}

div.selected-zone {
    @apply bg-slate-400 font-bold dark:bg-slate-600;
}

select {
    @apply text-black p-1 pl-4 pr-8 rounded-md bg-white dark:bg-slate-300;
    option {
        @apply text-black;
    }
}

main.map-main-window {
    @apply flex flex-wrap md:flex-nowrap gap-x-1 py-1 items-center justify-between;
}

.map-image-list {
    @apply flex-row flex-grow-[999] flex flex-wrap gap-2 items-center justify-center;
}
.map-image-list-grid {
    @apply grid grid-cols-[repeat(auto-fill,_minmax(500px,1fr))] flex-grow-[999] gap-2;
}

.map-container-block {
    @apply border border-slate-200 relative bg-contain select-none min-w-[400px] md:min-w-[50%] aspect-square max-w-[100%] dark:brightness-75;
    background-image: var(--map-bg-image);

    .mob-list {
        @apply bg-[rgba(0,0,0,0.5)] py-2 px-3 hover:bg-[rgba(0,0,0,0.9)] text-lg font-bold rounded-br-lg;

        .mob-number-0 {
            @apply text-green-300;
        }
        .mob-number-1 {
            @apply text-blue-300;
        }
        .dead-mob-1 {
            @apply line-through;
        }
    }

    .zone-name {
        @apply text-slate-900 text-xl font-bold pr-4 pt-2 text-right;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 1),
                     -1px 1px 1px rgba(255, 255, 255, 1),
                     1px -1px 1px rgba(255, 255, 255, 1);
    }

    .aetheryte {
        @apply translate-x-[-50%] translate-y-[-50%] cursor-pointer h-[32px] w-[32px] text-white absolute;
        background-image: url('/60453.png');
    }
    .aetheryte:hover:after {
        content: attr(data-title);
        @apply z-[1000] absolute top-[-1.5rem] left-1/2 translate-x-[-50%] text-xs font-bold text-white text-nowrap bg-slate-400 border border-white px-2 rounded-full pointer-events-none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    button {
        @apply rounded-full bg-black/50 absolute translate-x-[-50%] translate-y-[-50%] ring-2 ring-black flex items-center justify-center p-0 text-center font-mono cursor-pointer;
        @apply hover:ring-2 hover:ring-white;
        
        width: clamp(var(--mob-button-min-width), var(--mob-button-width), var(--mob-button-max-width));
        height: clamp(var(--mob-button-min-width), var(--mob-button-width), var(--mob-button-max-width));
        font-size: clamp(var(--mob-button-min-width), var(--mob-button-width), var(--mob-button-max-width));
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        line-height: 100%;

        &.point-taken-by-1 {
            @apply bg-green-500 text-white font-bold text-center;
        }

        &.point-taken-by-2 {
            @apply bg-blue-500 text-white font-bold text-center;
        }
        &.point-occupied {
            @apply bg-red-400/45;
        }

        &.point-disabled {
           @apply bg-black/10 cursor-not-allowed ring-black/50; 
        }
        &:disabled {
            @apply bg-black/10;
        }
        &.custom-point {
            @apply bg-green-300 w-[30px] h-[30px] scale-50 hover:scale-150;
            text-shadow: none;
        }
    }

    .button-mob-marker {
        @apply absolute h-[20px] w-[20px] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center text-white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        line-height: 100%;
    }

    button:hover:after {
        content: attr(data-coords);
        @apply z-[1000] absolute top-[-1.5rem] text-xs font-bold text-white text-nowrap bg-slate-400 border border-white px-2 rounded-full pointer-events-none font-sans;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
}
