.lucide {
    @apply stroke-[1.75px] text-white;
}
nav {
    @apply z-10 flex flex-col md:flex-row flex-wrap gap-1 w-full items-center justify-between bg-slate-500 dark:bg-slate-900 text-slate-100 dark:text-slate-400 p-2 min-h-[3rem] flex-grow-1 max-w-[100%] sticky top-0 overflow-scroll sm:overflow-auto;
    .expansion-list-container {
        .expac-list-item {
            @apply border-r-0 bg-[rgba(0,0,0,0.4)] hover:bg-[rgba(0,0,255,0.1)] cursor-pointer dark:border-slate-500 transition-colors duration-300;

            &.selected-expansion {
                @apply bg-blue-200/25;
            }
        }

        .expac-list-item:first-of-type {
            @apply rounded-l-md;
        }

        .expac-list-item:last-of-type {
            @apply border-r rounded-r-md;
        }
    }
}

html,
body,
.map-main-window {
    @apply bg-white dark:bg-slate-700;
}

dialog {
    @apply p-4 rounded-lg border-2 border-black bg-white dark:bg-slate-700 text-black dark:text-slate-300;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
}

.instanceNumber {
    @apply bg-gray-300 dark:bg-white dark:text-black px-2 text-sm inline-block py-0 scale-90 text-center font-bold;
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}

aside {
    @apply w-full sticky top-[120px] sm:top-[90px] sm:w-auto sm:min-w-(--sidebar-width);
    div.scout-report-options {
        @apply grid grid-cols-4 sm:grid-cols-2 gap-1 p-1 text-xs items-center;

        /* a,
        button {
            @apply inline-flex gap-1 items-center rounded-md font-bold cursor-pointer text-white dark:text-neutral-200 hover:brightness-110 transition-all duration-150;
        } */
    }
}

footer {
    @apply bg-slate-800 text-slate-200 p-4 sm:sticky sm:bottom-0;

    a {
        @apply underline;
    }
}

button:disabled {
    @apply cursor-not-allowed;
}

div.selected-zone {
    @apply bg-slate-400 font-bold dark:bg-slate-600;
}

select {
    @apply text-black p-1 pl-4 pr-8 rounded-md bg-white dark:bg-slate-300;

    option {
        @apply text-black;
    }
}

/* Zone List */
/* .completed-zone {
    @apply relative;
}
.completed-zone::after {
    @apply absolute left-0 right-0 top-[50%] h-[1px] bg-white/40 pointer-events-none;
    content: '';
} */

main.map-main-window {
    @apply flex flex-wrap md:flex-nowrap gap-x-1 py-1 items-center justify-between max-w-[100vw];
}

.map-image-list {
    @apply flex-row flex-grow-[999] flex flex-wrap gap-2 items-center justify-center;
}

.map-image-list-grid {
    @apply grid grid-cols-[repeat(auto-fill,_minmax(500px,1fr))] flex-grow-[999] gap-2 max-w-[100vw] md:max-w-[calc(100vw_-_var(--sidebar-width))];
}

.map-container-block {
    @apply border border-slate-200 relative bg-contain select-none min-w-[400px] md:min-w-[50%] aspect-square max-w-[100vw] dark:brightness-75;
    /* background-image: var(--map-bg-image); */

    .mob-list {
        @apply bg-[rgba(0,0,0,0.5)] py-2 px-3 hover:bg-[rgba(0,0,0,0.9)] text-lg font-bold rounded-br-lg;

        .mob-number-0 {
            /*
            @apply text-green-300;
            */
            color: color-mix(in srgb, var(--mob-one-color) 50%, white 50%);
        }

        .mob-number-1 {
            /*
            @apply text-blue-300;
            */
            color: color-mix(in srgb, var(--mob-two-color) 50%, white 50%);
        }

        .dead-mob-1 {
            @apply line-through;
        }
    }

    .zone-name {
        @apply text-black text-lg font-bold text-right absolute right-[10px] top-[5px] tracking-wider;
        div.zone-name-text {
            @apply text-black text-lg font-extrabold text-right tracking-wider;
            -webkit-text-stroke: 3px white;
            -webkit-text-fill-color: black;
            paint-order: stroke fill;
            text-shadow:
                1px 1px 1px #ffffff,
                -1px 1px 1px #ffffff,
                -1px -1px 1px #ffffff,
                1px -1px 1px #ffffff;
        }
        div.zone-coords {
            @apply bg-[rgba(0,0,0,0.5)] hover:bg-[rgba(0,0,0,0.9)] text-white rounded-full px-2 text-sm inline-block;
        }

        .mapInstanceNumber {
            @apply text-transparent bg-white px-2 text-sm inline-block py-0 scale-90 text-center font-bold relative z-1;
            aspect-ratio: 1 / cos(30deg);
            clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
        }

        /* .mapInstanceNumber::before {
            @apply bg-black absolute top-0 left-0 w-full z-[-1] scale-110;
            content: "";
            aspect-ratio: 1 / cos(30deg);
            clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
        } */
    }

    .aetheryte {
        @apply translate-x-[-50%] translate-y-[-50%] cursor-pointer h-[32px] w-[32px] text-white absolute;
        background-image: url("../images/aetheryte.png");
    }

    .aetheryte:hover::after {
        content: attr(data-title);
        @apply z-[1001] absolute top-[-0.5rem] left-1/2 translate-x-[-50%] text-xs font-bold text-white text-nowrap bg-slate-400 border border-white px-2 rounded-full pointer-events-none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    button {
        @apply rounded-full bg-black/50 absolute translate-x-[-50%] translate-y-[-50%] ring-2 ring-black flex items-center justify-center p-0 text-center font-mono cursor-pointer;
        @apply hover:ring-2 hover:ring-white;

        width: clamp(var(--mob-button-min-width), var(--mob-button-width), var(--mob-button-max-width));
        height: clamp(var(--mob-button-min-width), var(--mob-button-width), var(--mob-button-max-width));
        font-size: clamp(var(--mob-button-min-width), var(--mob-button-width), var(--mob-button-max-width));
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        line-height: 100%;

        &:disabled {
            @apply bg-black/10 cursor-not-allowed ring-black/50;
        }

        &.point-occupied {
            @apply bg-red-400/45;
        }

        &.point-disabled {
            @apply bg-black/10 cursor-not-allowed ring-black/50;
        }

        &.point-occupied.point-disabled {
            @apply bg-red-400/45;
        }

        &.point-taken-by-1 {
            @apply bg-[var(--mob-one-color)] text-white font-bold text-center;
        }

        &.point-taken-by-2 {
            @apply bg-[var(--mob-two-color)] text-white font-bold text-center;
        }

        &.custom-point {
            @apply bg-green-300 w-[30px] h-[30px] scale-50 hover:scale-150;
            text-shadow: none;
        }
    }

    .button-mob-marker {
        @apply absolute h-[20px] w-[20px] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center text-white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        line-height: 100%;
    }

    button:hover:after {
        content: attr(data-coords);
        @apply z-[1000] absolute top-[-1.5rem] text-xs font-bold text-white text-nowrap bg-slate-400 border border-white px-2 rounded-full pointer-events-none font-sans;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
}
.mark-summary-overlay {
    @apply fixed top-0 left-0 bg-black/75 w-full h-full overflow-hidden z-10;
    backdrop-filter: blur(1px);

    .mark-summary-panel {
        @apply bg-gray-400 dark:bg-gray-700 absolute right-0 top-0 h-full min-w-[20%] p-2 overflow-y-scroll text-black dark:text-slate-200;

        h1 {
            @apply text-2xl font-bold;
        }
        h2 {
            @apply text-2xl font-bold;
        }

        fieldset {
            @apply border border-black mb-4 rounded-md p-1 pl-2;
        }
        legend {
            @apply ml-4 font-bold;
        }
    }
}
