main.map-main-window {
    @apply flex flex-wrap gap-x-1 py-1;
}

.map-image-list {
    @apply flex-grow-[999] flex flex-wrap gap-1;
    flex-basis: 0px;
    &.auto {

    }
}

.map-container-block {
    @apply border border-slate-200 relative bg-contain select-none w-[600px] h-[600px] max-w-[100%] scale-75 md:scale-100 dark:brightness-75;
    background-image: var(--map-bg-image);

    .mob-list {
        @apply bg-[rgba(0,0,0,0.5)] py-2 px-3 hover:bg-[rgba(0,0,0,0.9)] text-xl font-bold rounded-br-lg;

        .mob-number-0 {
            @apply text-green-300;
        }
        .mob-number-1 {
            @apply text-blue-300;
        }
    }

    .zone-name {
        @apply text-slate-900 text-2xl font-extrabold pr-4 pt-2;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    }

    .aetheryte {
        @apply translate-x-[-50%] translate-y-[-50%];
        background-image: url('/60453.png');
    }

    button {
        @apply rounded-full bg-black/50 absolute h-[20px] w-[20px] translate-x-[-50%] translate-y-[-50%] ring-2 ring-black flex items-center justify-center;
        @apply hover:ring-2 hover:ring-white hover:ring-opacity-50;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        line-height: 100%;

        &.point-taken-by-1 {
            @apply bg-green-300 text-white font-bold text-center !important;
        }

        &.point-taken-by-2 {
            @apply bg-blue-300 text-white font-bold text-center !important;
        }

        &:disabled {
            @apply bg-black/10 ring-opacity-30 !important;
        }
    }

    .button-mob-marker {
        @apply absolute h-[20px] w-[20px] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center text-white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        line-height: 100%; 
    }

    button::after {
        content: attr(data-coords);
        @apply z-[-1] hidden hover:block absolute top-[-1.5rem] text-sm font-bold text-white text-nowrap bg-slate-400 border border-white px-2 rounded-full pointer-events-none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
}

.mark-summary-overlay {
    @apply fixed top-0 left-0 bg-black/75 w-full h-full overflow-hidden z-10;
    backdrop-filter: blur(1px);

    .mark-summary-panel {
        @apply bg-gray-400 dark:bg-gray-700 absolute right-0 top-0 h-full min-w-[20%] p-2 overflow-y-scroll;

        h1 {
            @apply text-2xl font-bold;
        }
        h2 {
            @apply text-2xl font-bold;
        }

        fieldset {
            @apply border border-black mb-4 rounded-md p-1 pl-2;
        }
        legend {
            @apply ml-4 font-bold;
        }
    }
}

.zone-sort-buttons {
    button {
        @apply border;
    }
    button:disabled {
        @apply opacity-25 cursor-not-allowed;
    }
}